bin/
gen/
local.properties
*.sw[po]
node_modules
.DS_Store




*.iml
android/freshchat-android/.gradle
android/freshchat-android/local.properties
android/freshchat-android/captures

android/freshchat-android/.idea
.DS_Store
android/freshchat-android/DS_Store

!/android/freshchat-android/freshchat_sdk/build
/android/freshchat-android/freshchat_sdk/build/*
!/android/freshchat-android/freshchat_sdk/build/outputs
/android/freshchat-android/freshchat_sdk/build/outputs/*
!/android/freshchat-android/freshchat_sdk/build/outputs/aar
!/android/freshchat-android/freshchat_sdk/build/outputs/aar/freshchat_sdk-debug.aar

android/freshchat-android/build/android-profile